<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-info " >
    <div class="container-fluid">
      
      <a class="navbar-brand" href="#">
        <img src="assets/images/ThoHandWriting2.jpg" alt="Logo" width="50"  class="rounded-circle">
        LungTho Leave System
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Employee
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Add Employee</a></li>
              <li><a class="dropdown-item" href="#">Manage Employee</a></li>
            </ul>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Leave<br>Type
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Add Leave Type</a></li>
              <li><a class="dropdown-item" href="#">Manage Leave Type</a></li>
            </ul>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Leave<br>Management
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">All Leave</a></li>
              <li><a class="dropdown-item" href="#">Pending Leave</a></li>
              <li><a class="dropdown-item" href="#">Approve Leave</a></li>
              <li><a class="dropdown-item" href="#">Not Approve Leave</a></li>
            </ul>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              User
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Add User</a></li>
              <li><a class="dropdown-item" href="#">Manage User</a></li>
            </ul>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
