/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Anuphan', sans-serif;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}